---
import { Github, Terminal } from "lucide-react";
import Button from "../components/button.astro";
import { CopyToClipboard } from "../components/copy";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Tami</title>
  </head>

  <body class="bg-white dark:bg-gray-950 dark:text-white">
    <div class="flex min-h-screen flex-col">
      <header class="sticky top-0 z-50 w-full">
        <div
          class="container mx-auto flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
        >
          <div class="flex gap-2 items-center text-xl font-bold">
            <Terminal className="h-6 w-6" />
            <span>tami</span>
          </div>
        </div>
      </header>
      <main class="flex-1">
        <section class="w-full py-12 md:py-24 lg:py-32 xl:py-48">
          <div class="container mx-auto px-4 md:px-6">
            <div class="flex flex-col items-center space-y-4 text-center">
              <div class="space-y-2">
                <h1
                  class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none"
                >
                  The Lightweight API Client
                </h1>
                <p class="mx-auto max-w-[700px] text-[#71717a] md:text-xl">
                  Launch from your terminal, run in your browser. Test your APIs
                  without the bloat of traditional tools.
                </p>
              </div>
              <div class="w-full max-w-sm space-y-2">
                <h2 class="text-md font-bold">Get Started</h2>

                <div
                  class="relative flex h-12 items-center rounded-md bg-white text-black px-4"
                >
                  <Terminal className="mr-2 h-4 w-4 text-[#71717a]" />
                  <span class="text-sm font-medium">npx tami-client</span>
                  <CopyToClipboard client:load />
                </div>

                <Button
                  size="lg"
                  href="https://github.com/joshamaju/tami"
                  class="w-full bg-[#D7DDFF] text-black hover:bg-[#BEC3E0]"
                >
                  <Github className="mr-2 h-4 w-4" /> View on GitHub
                </Button>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="w-full py-6">
        <div
          class="container flex flex-col items-center justify-center gap-4 px-4 md:px-6 md:flex-row"
        >
          <div class="flex items-center gap-2 text-sm">
            <Terminal className="h-4 w-4" />
            <span class="font-semibold">tami</span>
          </div>
          <p class="text-center text-sm text-[#71717a] md:text-left">
            &copy; {new Date().getFullYear()} tami. All rights reserved.
          </p>
          <div class="flex gap-4 md:ml-auto">
            <a
              href="https://github.com/joshamaju/tami"
              class="text-sm text-[#71717a] underline-offset-4 hover:underline"
            >
              GitHub
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
  }

  body::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    position: absolute;
    background: linear-gradient(to right, #80808012 1px, transparent 1px),
      linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 24px 24px;
  }

  body::after {
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    content: "";
    opacity: 20%;
    height: 200px;
    position: absolute;
    background: linear-gradient(to bottom, #ffedd4, transparent);
  }

  @media (prefers-color-scheme: dark) {
    body::after {
      background: linear-gradient(to bottom, #d7ddff, transparent);
    }

    body::before {
      background: linear-gradient(to right, #ffffff12 1px, transparent 1px),
        linear-gradient(to bottom, #ffffff12 1px, transparent 1px);
      background-size: 24px 24px;
    }
  }
</style>
